.terraform/*.tfstate
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl